---
import styles from './contact.module.scss';
import Form from '../../components/form/Form.astro';
---

<section class={styles.contact_container}>
  <h2>Get in touch</h2>
  <p>
    In just 48 hours, our experts will meticulously assess your video content
    and reveal untapped opportunities for enhancing your <span>brand</span> and
    visual storytelling.
  </p>
  <Form />
</section>
