---
import styles from './CTO.module.scss'
---

<section class={styles.cto_container}>
    <div class={styles.cto_wrapper}>
        <p>Join 4,000+ companies already growing</p>
        <div class={styles.companies}>
            <img src="/assets/airbnb.svg" alt="airbnb">
            <img src="/assets/linear.svg" alt="linear">
            <img src="/assets/paypal.svg" alt="paypal">
            <img src="/assets/youtube.svg" alt="youtube">
            <img src="/assets/uber.svg" alt="uber">
            <img src="/assets/zoom.svg" alt="zoom">
        </div>
    </div>
</section>