---
import Layout from '../layouts/Layout.astro';
import CTO from '../components/cto/CTO.astro';
import Contact from '../layouts/contact/Contact.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Contact />
    <CTO />
  </main>
</Layout>
