---
import Website from '../components/banners/website/Website.astro';
import Vision from '../components/banners/vision/Vision.astro';
import CTO from '../components/cto/CTO.astro';
import Hero from '../components/hero/hero.astro';
import Process from '../components/process/Process.astro';
import Special from '../components/special/Special.astro';
import Solutions from '../components/solutions/Solutions.astro';
import Visual from '../components/visual/Visual.astro';
import Create from '../components/create/Create.astro';
import '@fontsource/red-hat-display';
import MasterPiece from '../components/master-piece/MasterPiece.astro';
import Reputation from '../components/reputation/Reputation.astro';
import Clients from '../components/banners/clients/Clients.astro';
import Captivating from '../components/captivating/Captivating.astro';
import FAQ from '../components/FAQ/FAQ.astro';
---

<section>
  <Hero />
  <CTO />
  <Website />
  <Visual />
  <Special />
  <Vision />
  <Solutions />
  <Process />
  <MasterPiece />
  <Reputation />
  <Clients />
  <Create />
  <Captivating />
  <FAQ />
  <CTO />
</section>
