---
import Layout from '../layouts/Layout.astro';
import Home from './home.astro';
import Form from '../components/form/Form.astro';
---

<Layout title='Tiff Video Agency || Home page.'>
  <main>
    <Home />
  </main>
</Layout>
