---
import Layout from '../layouts/Layout.astro';
import Create from '../components/create/Create.astro';
import CTO from '../components/cto/CTO.astro';
import FAQ from '../components/FAQ/FAQ.astro';
import Brand from '../layouts/brand/Brand.astro';
import Feature from '../layouts/feature/Feature.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Feature />
    <Brand />
    <Create />
    <FAQ />
    <CTO />
  </main>
</Layout>
