---
import styles from './Vision.module.scss';
---

<section class={styles.vision_container}>
  <div class={styles.vision_wrapper}>
    <h2>Your vision</h2>
    <h2 class={styles.mission}>...is our mission</h2>
  </div>
</section>
