.reputation_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f2f4f7;
  padding: 8.69rem 0;
  position: relative;

  @media (max-width: 850px) {
    padding: 5.69rem 0;
  }

  .dot2 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .dot3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h5 {
    color: #ff601f;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 2rem */
  }

  h2 {
    color: #101828;
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 1.5rem 0 4.94rem;
    z-index: 2;
    @media (max-width: 850px) {
      width: auto;
      font-size: 3rem;
      max-width: 95vw;
    }

    @media (max-width: 500px) {
      font-size: 2rem;
      max-width: 84vw;
    }
  }

  .rep_cards {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    z-index: 2;
    @media (max-width: 850px) {
      transform: scale(0.8);
    }

    @media (max-width: 500px) {
      transform: scale(0.7);
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    gap: 1rem;

    @media (max-width: 850px) {
      display: none;
    }

    button {
      border-radius: 2.25rem;
      background: #fff;
      display: flex;
      padding: 1rem;
      align-items: flex-start;
      gap: 0.625rem;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in;

      &:hover {
        background-color: #ff601f;
        transform: scale(1.05);
      }

      &:focus {
        transform: scale(0.95);
      }
    }
  }
}
