---
import styles from './Create.module.scss';
import Form from '../form/Form.astro';
---

<section class={styles.create_container}>
  <div class={styles.create_details}>
    <h3>Let’s <span>create</span> something special together.</h3>
    <p>
      In just 48 hours, our experts will meticulously assess your video content
      and reveal untapped opportunities for enhancing your <strong>brand</strong
      > and visual storytelling.
    </p>
  </div>
  <Form />
</section>
