.client_container {
  max-width: 100vw;
  background: linear-gradient(
      0deg,
      rgba(16, 24, 40, 0.78) 0%,
      rgba(16, 24, 40, 0.78) 100%
    ),
    url('/assets/happy-man.jpg') no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;

  .client_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: min(100%, 74.375rem);
    margin-inline: auto;
    height: 36.3725rem;

    h2 {
      color: #ffffff39;
      -webkit-text-stroke-width: 5px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.21);
      text-align: center;
      font-family: 'Red Hat Display', sans-serif;
      font-size: 6.25rem;
      font-style: normal;
      font-size: clamp(2.5rem, 0.9659rem + 6.8182vw, 6.25rem);
      font-weight: 800;
      line-height: 160%; /* 10rem */
      text-transform: uppercase;
      text-align: left;

      @media (max-width: 850px) {
        font-size: 3.5rem;
      }
      @media (max-width: 500px) {
        font-size: 2.5rem;
      }
    }

    .client {
      align-self: flex-end;
      margin-top: 1.06rem;
    }
  }
}
