---
import styles from './Clients.module.scss';
---

<section class={styles.client_container}>
  <div class={styles.client_wrapper}>
    <h2>Like to be among</h2>
    <h2 class={styles.client}>our happy clients?</h2>
  </div>
</section>
