.button {
  border-radius: 0.5rem;
  background: #ff601f;
  box-shadow: 0px 14px 16px 0px rgba(29, 41, 57, 0.05);
  display: inline-flex;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  z-index: 2;
  text-decoration: none;
}

.transparent {
  background: transparent;
  border: 1px solid #98a2b3;
  color: #1d2939;
}
.white {
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0px 14px 16px 0px rgba(29, 41, 57, 0.05);
  backdrop-filter: blur(7.5px);
}
.whiter {
  background: #fff;
  color: #1d2939;
}
