.special_container {
  border-top: 1px solid #667085;
  .special_wrapper {
    max-width: 74.3125rem;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 850px) {
      max-width: 90rem;
    }

    .mb {
      margin-top: 5.5rem;
    }

    h2 {
      width: 63.8125rem;
      margin: 0 auto 5.5rem;
      color: #101828;
      text-align: center;
      font-family: 'Red Hat Display';
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (max-width: 850px) {
        width: auto;
        font-size: 3rem;
        max-width: 95rem;
      }

      @media (max-width: 500px) {
        font-size: 2rem;
        max-width: 84vw;
      }
    }
    .special_card {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      margin-bottom: 3rem;

      @media (max-width: 850px) {
        max-width: 90vw;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      img {
        @media (max-width: 850px) {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        font-size: 2rem;
        max-width: 84vw;
      }

      .special_card_details {
        width: 28.375rem;
        h3 {
          color: #d0d5dd;
          font-family: 'Red Hat Display', sans-serif;
          font-size: 3.375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 5.4rem */
        }

        h4 {
          color: #101828;
          font-family: 'Red Hat Display';
          font-size: 2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 3.2rem */
          margin: 1.5rem 0 0.5rem;

          span {
            color: #ff601f;
          }
        }

        p {
          color: #344054;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 1.6rem */
        }
      }
    }
  }
}
