---
type Props = {
  title: string;
  paragraph: string;
};
const { title, paragraph } = Astro.props;
import styles from './heroContainer.module.scss';
---

<section class={styles.hero_container}>
  <h1>{title}</h1>
  <p>
    {paragraph}
  </p>
</section>
