---
import styles from './Footer.module.scss'
---

<footer>
    <img src="/assets/logo.svg" alt="footer-logo">
    <p>Experience the power of storytelling through the lens of creativity and innovation.</p>
    <ul>
        <li>Portfolio</li>
        <li>Resources</li>
        <li>For Business</li>
        <li>For Individuals</li>
    </ul>

    <div class={styles.copyright}>
    <h6>© 2077 Tifi. All rights reserved.</h6>
    <div class={styles.socials}>
    <img src="/assets/twitter.svg" alt="twitter">
    <img src="/assets/linkedIn.svg" alt="linkedIn">
    <img src="/assets/facebook.svg" alt="facebook">
    </div>
    </div>
</footer>